@tailwind base;
@tailwind components;
@tailwind utilities;


.navigation {
    @apply flex items-center justify-between pb-2 border-b border-gray-400 px-4;
}

.navigation__block {
    @apply block mt-2 text-gray-700;
}

.navigation__logo {
    @apply text-gray-700 text-xl font-semibold;
}

.navigation__marker::after {
    @apply inline-block border-r border-gray-400 h-4 align-middle mx-2;
    content: '';
}

.sm\:navigation__marker::after {
    content: '';
}

@screen sm {
    .sm\:navigation__marker::after {
        @apply inline-block border-r border-gray-400 h-4 align-middle mx-2;
    }
}


.navigation__link {
    @apply cursor-pointer;
}

.navigation__link:hover {
    @apply text-purple-600;
}


.hero {
    @apply flex h-64;
}

.hero img {
    width: 50%;
}

.hero__image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
    @apply w-1/3;
}

.hero__title {
    @apply text-3xl font-semibold text-gray-900;
}

.hero__subtitle {
    @apply text-2xl font-semibold text-gray-700;
}

.tags {
    @apply flex mt-4;
}

.tags__item {
    @apply bg-purple-600 p-1 px-2 rounded-lg leading-none mx-1 text-white;
}
